<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>autoID</key>
		<integer>1</integer>
		<key>autosavedContentsBookmark</key>
		<data>
		Ym9va+gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAA5AIAAAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGhhY2tlcnUABwAAAAEB
		AABMaWJyYXJ5ABQAAAABAQAAQXV0b3NhdmUgSW5mb3JtYXRpb24kAAAAAQEA
		AFVuc2F2ZWQgWGNvZGUgRG9jdW1lbnQgNC54Y3dvcmtzcGFjZRQAAAABBgAA
		BAAAABQAAAAkAAAANAAAAFAAAAAIAAAABAMAAE5pBgAAAAAACAAAAAQDAAB2
		xgYAAAAAAAgAAAAEAwAAe8YGAAAAAAAIAAAABAMAAFS5EQAAAAAACAAAAAQD
		AAApKZsAAgAAABQAAAABBgAAmAAAAKgAAAC4AAAAyAAAANgAAAAIAAAAAAQA
		AEHBpYcRIJG6GAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
		BAMAAAMAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwgAAAAB
		AQAAVW50aXRsZWQIAAAABAMAAADACNg3AAAACAAAAAAEAABBv7dE7gAAACQA
		AAABAQAAMjlGOUNBQ0EtNEI5Ri0zMUIwLTkzNzQtMTA2QzY2Mjc2N0YxGAAA
		AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
		AQUAAOoAAAABAgAAMThiYWM0NGY5MjBkODY1OTAxMzM0OGE5NjI1ZGFkYjkz
		YThlYWJkOTswMDswMDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDswMDAwMDAw
		MDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAx
		OzAxMDAwMDA0OzAwMDAwMDAyMDA5YjI5Mjk7MDE7L3VzZXJzL2hhY2tlcnUv
		bGlicmFyeS9hdXRvc2F2ZSBpbmZvcm1hdGlvbi91bnNhdmVkIHhjb2RlIGRv
		Y3VtZW50IDQueGN3b3Jrc3BhY2UAAADMAAAA/v///wEAAAAAAAAAEAAAAAQQ
		AAB8AAAAAAAAAAUQAADoAAAAAAAAABAQAAAUAQAAAAAAAEAQAAAEAQAAAAAA
		AAIgAADcAQAAAAAAAAUgAABQAQAAAAAAABAgAABgAQAAAAAAABEgAACQAQAA
		AAAAABIgAABwAQAAAAAAABMgAACAAQAAAAAAACAgAAC8AQAAAAAAADAgAADo
		AQAAAAAAAAHAAAA0AQAAAAAAABHAAAAUAAAAAAAAABLAAABEAQAAAAAAAIDw
		AADwAQAAAAAAAA==
		</data>
		<key>isExpendable</key>
		<true/>
		<key>recordDate</key>
		<date>2019-10-31T07:01:13Z</date>
		<key>uniquingNumber</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
